@model IEnumerable<ProjetoMyTe.AppWeb.Models.DTO.WbsDTO>

@{
    ViewData["Title"] = "ListarWbss";
}



<h1 class="text-center" style="color: #890078;">Work Breakdown Structure</h1>



<p>

    <link rel="stylesheet" href="~/css/site.css">

    <a asp-action="AdicionarWbs" class="btn btn-primary">Nova WBS +</a>

    @* @using (Html.BeginForm("ListarWbss", "Wbss", FormMethod.Get))
    {
    <div class="mb-3">
    @Html.Label("Tipo", "Filtrar por Tipo")
    @Html.DropDownList(
    "TipoSelecionado",
    new SelectList(new[]
    {
    new SelectListItem { Text = "Todos", Value = "" },
    new SelectListItem { Text = "Chargeability", Value = "1" },
    new SelectListItem { Text = "Non-Chargeability", Value = "2" },
    }, "Value", "Text"),
    new { @class = "form-select" })
    <input type="hidden" id="TipoSelecionado" name="TipoSelecionado" />

    </div>
    <div class="mb-3">
    <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
    } *@
</p>

<div class="container mt-3">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>

                    @* <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                    </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        @* <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                    </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>


                            <a asp-action="AlterarWbs" asp-route-id="@item.Id"><img src="~/lib/imagens/alterar.png" alt="Alterar" width="30" height="30" /></a>

                            <a asp-action="RemoverWbs" asp-route-id="@item.Id"><img src="~/lib/imagens/trash.png" alt="Deletar" width="30" height="30" /></a>



                            @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .btn {
        border: none;
    }

    .btn-primary {
        background-color: #890078;
        border-radius: 15px;
    }

        .btn-primary:hover {
            background-color: #6b056b;
        }

    .table th,
    .table td {
        vertical-align: middle;
    }

    .table th {
        font-weight: bold;
    }

    .table th,
    .table td {
        font-size: 14px;
    }

</style>
