@model IEnumerable<ProjetoMyTe.AppWeb.Models.DTO.WbsDTO>

@{
    ViewData["Title"] = "ListarWbss";
}



<h1 class="text-center" style="color: #890078;">Work Breakdown Structure</h1>



<p>

    <link rel="stylesheet" href="~/css/site.css">

    <a asp-action="AdicionarWbs" class="btn btn-primary">Nova WBS +</a>

    @* @using (Html.BeginForm("ListarWbss", "Wbss", FormMethod.Get))
    {
    <div class="mb-3">
    @Html.Label("Tipo", "Filtrar por Tipo")
    @Html.DropDownList(
    "TipoSelecionado",
    new SelectList(new[]
    {
    new SelectListItem { Text = "Todos", Value = "" },
    new SelectListItem { Text = "Chargeability", Value = "1" },
    new SelectListItem { Text = "Non-Chargeability", Value = "2" },
    }, "Value", "Text"),
    new { @class = "form-select" })
    <input type="hidden" id="TipoSelecionado" name="TipoSelecionado" />

    </div>
    <div class="mb-3">
    <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
    } *@
</p>

<div class="container mt-3">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>

                    @* <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                    </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        @* <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                    </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>


                            <a asp-action="AlterarWbs" asp-route-id="@item.Id"><img src="~/lib/imagens/alterar.png" alt="Alterar" width="30" height="30" /></a>

                            @* <a asp-action="RemoverWbs" asp-route-id="@item.Id"><img src="~/lib/imagens/trash.png" alt="Deletar" width="30" height="30" /></a> *@
                            <button type="button" class="remocao"
                                    data-bs-toggle="modal"
                                    data-bs-target="#examplemodal"
                                    data-id="@item.Id"
                                    data-codigo="@item.Codigo"
                                    style="border: none; background-color:rgba(0, 0, 0, 0);">
                                <img src="~/lib/imagens/trash.png" width="30" height="30" />

                            </button>



                            @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="modal fade" id="examplemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <form asp-action="RemoverWbs" asp-controller="Wbss">
                        <div class="modal-body">
                            <h4 class="text-danger">
                                Tem certeza que deseja remover essa WBS:
                            </h4>
                            <h5>

                                <div id="titulo"></div>
                            </h5>
                        </div>

                        <div class="modal-footer">
                            <input type="hidden" id="id" name="id" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                            <button type="submit" class="btn btn-primary">Sim, remover</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $(".remocao").click(function () {
                var id = $(this).attr("data-id");
                var codigo = $(this).attr("data-codigo")
                console.log("ID da wbs:", id);
                $(".modal-footer #id").val(id);
                $(".modal-body #titulo").html(codigo);
            });
        });
    </script>
}

<style>
    .btn {
        border: none;
    }

    .btn-secondary {
        border-radius: 10px;
        border: none;
        background-color: #8c9299;
    }

    .btn-primary {
        background-color: #890078;
        border-radius: 10px;
    }

        .btn-primary:hover {
            background-color: #6b056b;
        }

    .table th,
    .table td {
        vertical-align: middle;
    }

    .table th {
        font-weight: bold;
    }

    .table th,
    .table td {
        font-size: 14px;
    }

</style>
