@model IEnumerable<ProjetoMyTe.AppWeb.Models.DTO.WbsDTO>

@{
    ViewData["Title"] = "ListarWbss";
}



<h1 class="text-center" style="color: #890078;">Work Breakdown Structure</h1>

<p>

    <link rel="stylesheet" href="~/css/site.css">

    <a asp-action="AdicionarWbs" class="btn btn-primary mt-3">Nova WBS +</a>
    @*
    @using (Html.BeginForm("ListarWbss", "Wbss", FormMethod.Get))
    {
    <div class="mb-3">
    @Html.Label("Tipo", "Filtrar por Tipo")
    @Html.DropDownList(
    "TipoSelecionado",
    new SelectList(new[]
    {
    new SelectListItem { Text = "Todos", Value = "" },
    new SelectListItem { Text = "Chargeability", Value = "1" },
    new SelectListItem { Text = "Non-Chargeability", Value = "2" },
    }, "Value", "Text"),
    new { @class = "form-select" })
    <input type="hidden" id="TipoSelecionado" name="TipoSelecionado" />

    </div>
    <div class="mb-3">
    <input type="submit" value="Buscar" class="btn btn-primary" />
    </div>
    } *@
</p>
@if (TempData["AlertMessage"] != null)
{
    <div id="temp-alert" class="alert alert-success mt-3">
        <strong>Oba!</strong> @TempData["AlertMessage"]
    </div>
}
<div class="container mt-3">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>

                    @* <th>
                    @Html.DisplayNameFor(model => model.Codigo)
                    </th> *@
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        @* <td>
                    @Html.DisplayFor(modelItem => item.Codigo)
                    </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>


                            <a asp-action="AlterarWbs" asp-route-id="@item.Id"><img src="~/lib/imagens/alterar.png" alt="Alterar" width="30" height="30" /></a>
                            @* <button type="button" class="edicao"
                        data-bs-toggle="modal"
                        data-bs-target="@("#examplemodal1-" + item.Id)"
                        data-id="@item.Id"
                        data-codigo="@item.Codigo"
                        style="border: none; background-color:rgba(0, 0, 0, 0);">
                        <img src="~/lib/imagens/alterar.png" width="30" height="30" />

                        </button>
                        @await Html.PartialAsync("AlterarWbs", item) *@

                            @* <a asp-action="RemoverWbs" asp-route-id="@item.Id"><img src="~/lib/imagens/trash.png" alt="Deletar" width="30" height="30" /></a> *@
                            <button type="button" class="remocao"
                                    data-bs-toggle="modal"
                                    data-bs-target="#examplemodal"
                                    data-id="@item.Id"
                                    data-codigo="@item.Codigo"
                                    style="border: none; background-color:rgba(0, 0, 0, 0);">
                                <img src="~/lib/imagens/trash.png" width="30" height="30" />

                            </button>



                            @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="modal fade" id="examplemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    </div>
                    <form asp-action="RemoverWbs" asp-controller="Wbss">
                        <div class="modal-body">
                            <h4 class="text-danger">
                                Tem certeza que deseja remover essa WBS:
                            </h4>
                            <h5>

                                <div id="titulo"></div>
                            </h5>
                        </div>

                        <div class="modal-footer">
                            <input type="hidden" id="id" name="id" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                            <button type="submit" class="btn btn-primary">Sim, remover</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        @* <div class="modal fade" id="examplemodal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmação</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

        </div>
        <form asp-action="AlterarWbs" asp-controller="Wbss">
        <div class="modal-body">
        <h4 class="text-danger">
        Tem certeza que deseja editar essa WBS:
        </h4>
        <h5>

        <div id="titulo"></div>
        </h5>
        </div> *@

        @* <div class="modal-footer">
        <input type="hidden" id="id" name="id" />
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
        <button type="submit" class="btn btn-primary">Sim, remover</button>
        </div>
        </form>
        </div>
        </div>
        </div>
        *@
    </div>
</div>

<button onclick="topFuncao()" id="btnTop" title="Ir para cima">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
    </svg>
</button>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".remocao").click(function () {
                var id = $(this).attr("data-id");
                var codigo = $(this).attr("data-codigo")
                console.log("ID da wbs:", id);
                $(".modal-footer #id").val(id);
                $(".modal-body #titulo").html(codigo);
            });
        });

        // $(document).ready(function () {
        //     $(".edicao").click(function () {
        //         var id = $(this).attr("data-id");
        //         var codigo = $(this).attr("data-codigo")
        //         console.log("ID da wbs:", id);
        //         $(".modal-footer #id").val(id);
        //         $(".modal-body #titulo").html(codigo);
        //     });
        // });

        var alertTimeout = 5000;
        setTimeout(function () {
            var alertElement = document.getElementById('temp-alert');
            if (alertElement) {
                alertElement.style.display = 'none';
            }
        }, alertTimeout);


        let mybutton = document.getElementById("btnTop");

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        function topFuncao() {
            document.documentElement.scrollTop = 0;
        }

    </script>
}

<style>

    #btnTop {
        display: none;
        position: fixed;
        bottom: 40px;
        right: 50px;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        cursor: pointer;
        color: #890078;
        transition: background-color 0.3s ease;
    }

        #btnTop:hover {
            color: #ff5800;
        }

    #temp-alert {
        position: fixed;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1050;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .btn {
        border: none;
    }

    .btn-secondary {
        border-radius: 10px;
        border: none;
        background-color: #8c9299;
    }

    .btn-primary {
        background-color: #890078;
        border-radius: 10px;
    }

        .btn-primary:hover {
            background-color: #ff5800;
        }

    .table th,
    .table td {
        vertical-align: middle;
    }

    .table th {
        font-weight: bold;
    }

    .table th,
    .table td {
        font-size: 14px;
    }

</style>
