@model ProjetoMyTe.AppWeb.Models.DTO.LancamentoHorasDTO
@inject ProjetoMyTe.AppWeb.Services.QuinzenasService quinzenaService
@using ProjetoMyTe.AppWeb.Models.Common;

@{
    ViewData["Title"] = "LancarHorasDTO";
}

@if (TempData["AlertMessageError"] != null)
{
    <div id="temp-alert-error" class="alert alert-warning mt-3">
        <strong>Poxa :(</strong> @TempData["AlertMessageError"]
    </div>
}

@if (TempData["AlertMessage"] != null)
{
    <div id="temp-alert-success" class="alert alert-success mt-3">
        <strong>Oba! :)</strong> @TempData["AlertMessage"]
    </div>
}
<div class="row mt-2">
    <div class="col">
        <a asp-action="ListarRegistrosQuinzena" asp-controller="LancamentoHoras" class="btn btn-primary" style="color: #ff5800; background-color: rgb(0, 0, 0, 0)">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5" />
            </svg> Ver Último Lançamento
        </a>
    </div>
</div>
<h1 class="mt-4 text-center" style="color:#6b056b;">
    Lançamento de Horas

    <img src="~/lib/imagens/calendario.png" alt="Alterar" width="50" height="50" />
</h1>
@{
    var referencia = ViewBag.Referencia;
    DateTime dateTime = DateTime.Parse(referencia);
    var quinzena = quinzenaService.CriarQuinzena(dateTime);

    var qtdeDias = quinzena.DiasDoMes!.Count;
}
<div class="container mx-auto">
    <div class="row">
        <div class="col text-start">
            <a asp-action="QuinzenaAnterior" asp-route-referencia="@ViewBag.Referencia" class="btn btn-secondary">
                Anterior
            </a>
        </div>
        <div class="col text-end">
            <a asp-action="ProximaQuinzena" asp-route-referencia="@ViewBag.Referencia" class="btn btn-secondary">
                Próxima
            </a>
        </div>
    </div>
    <form id="formAdicionarHoras" asp-action="LancarHorasDTO" asp-route-referencia="@ViewBag.Referencia" class="mt-3">
    <div class="mt-5">
        <div class="row">
            <div class="col text-end">
                <input type="submit" value="Lançar horas" class="btn btn-primary" id="lancamento" />
            </div>
        </div>
    </div>
        <div id="EspacoLancamento" class="d-flex justify-content-center">
            <table class="table table-bordered w-auto">
                <thead>
                    <tr>
                        <th style="width: 150px; ">Selecione a WBS</th>
                        @for (var j = 0; j < qtdeDias; j++)
                        {
                            <th style="width: 80px;">
                                <label class="control-label">@quinzena.GetDia(j).ToString("d/M/yy ddd")</label>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>

                    @for (var i = 0; i < 8; i++)
                    {
                        <tr>
                            <td style="background-color:  rgba(255, 88, 0, 0.5);">

                                <div class="form-group mb-3">
                                    <select asp-for="WbsId![i]" asp-items="(SelectList)ViewBag.ListaDeWbss" class="form-select">
                                        <option value="0">WBS</option>
                                    </select>
                                    <span asp-validation-for="WbsId" class="text-danger"></span>
                                </div>
                            </td>
                            @for (var j = 0; j < qtdeDias; j++)
                            {
                                <th>

                                    @if (quinzena.FinaisDeSemana!.Contains(quinzena.GetDia(j)))
                                    {
                                        <input asp-for="Horas" type="number" class="form-control" min="0" max="8" disabled />
                                        <input asp-for="Horas" type="hidden" value="0" class="form-control" />
                                    }
                                    else
                                    {
                                        <input asp-for="Horas" type="number" class="form-control" value="0" min="0" max="8" />
                                    }
                                    <span asp-validation-for="Horas" class="text-danger"></span>

                                </th>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>
<button onclick="topFuncao()" id="btnTop" title="Ir para cima">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z" />
    </svg>
</button>


@section scripts {
    <script>

        let mybutton = document.getElementById("btnTop");

        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        function topFuncao() {
            document.documentElement.scrollTop = 0;
        }

        var alertTimeout = 5000;
        setTimeout(function () {
            var alertElementSuccess = document.getElementById('temp-alert-success');
            if (alertElementSuccess) {
                alertElementSuccess.style.display = 'none';
            }
            console.log(alertElementSuccess);
            var alertElementError = document.getElementById('temp-alert-error');
            if (alertElementError) {
                alertElementError.style.display = 'none';
            }
        }, alertTimeout);
    </script>
}

<style>

    #btnTop {
        display: none;
        position: fixed;
        bottom: 40px;
        right: 50px;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        outline: none;
        cursor: pointer;
        color: #890078;
        transition: background-color 0.3s ease;
    }

        #btnTop:hover {
            color: #ff5800;
        }


    .btn {
        border: none;
    }

    .btn-secondary {
        border-radius: 10px;
        border: none;
        background-color: #8c9299;
    }


    #lancamento {
        background-color: #890078;
        border-radius: 10px;
    }

        #lancamento:hover {
            background-color: #ff5800;
        }


    table {
        text-align: center;
        font-size: 11px;
        width: 1200px;
    }

    th, td {
        vertical-align: middle;
    }

        th:first-child, td:first-child {
            width: 300px;
        }

    thead {
        background-color: rgba(255, 88, 0, 0.5);
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>
